## Notebook for basic EDA

In [ ]:
import wandb
import pandas as pd

### Importing Data

In [ ]:
run = wandb.init(project="nyc_airbnb", group="eda", save_code=True)
local_path = wandb.use_artifact("sample.csv:latest").file()
df = pd.read_csv(local_path)

#### Basic Exploratory

In [2]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,9138664,Private Lg Room 15 min to Manhattan,47594947,Iris,Queens,Sunnyside,40.74271,-73.92493,Private room,74,2,6,2019-05-26,0.13,1,5
1,31444015,TIME SQUARE CHARMING ONE BED IN HELL'S KITCHEN...,8523790,Johlex,Manhattan,Hell's Kitchen,40.76682,-73.98878,Entire home/apt,170,3,0,NaN,NaN,1,188
2,8741020,Voted #1 Location Quintessential 1BR W Village...,45854238,John,Manhattan,West Village,40.73631,-74.00611,Entire home/apt,245,3,51,2018-09-19,1.12,1,0
3,34602077,Spacious 1 bedroom apartment 15min from Manhattan,261055465,Regan,Queens,Astoria,40.76424,-73.92351,Entire home/apt,125,3,1,2019-05-24,0.65,1,13
4,23203149,Big beautiful bedroom in huge Bushwick apartment,143460,Megan,Brooklyn,Bushwick,40.69839,-73.92044,Private room,65,2,8,2019-06-23,0.52,2,8

#### Importing csv file into a pdf report

In [3]:
from pandas_profiling import ProfileReport

profile = ProfileReport(df)
profile.to_widgets()

/tmp/ipykernel_27254/664279563.py:1: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

IOPub message rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_msg_rate_limit`.

Current values:
ServerApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
ServerApp.rate_limit_window=3.0 (secs)

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_group,room_type
id,1.000000,0.558145,-0.001193,0.066518,-0.026606,-0.068274,-0.302146,0.368858,0.133321,0.164731,0.059137,0.070785
host_id,0.558145,1.000000,0.041903,0.106627,-0.073509,-0.138851,-0.117507,0.275662,0.144830,0.172829,0.098353,0.092035
latitude,-0.001193,0.041903,1.000000,0.040318,0.138701,0.017124,-0.038288,-0.027334,0.002377,-0.009651,0.538339,0.111624
longitude,0.066518,0.106627,0.040318,1.000000,-0.436764,-0.121498,0.080778,0.117056,0.062861,0.061113,0.648797,0.153825
price,-0.026606,-0.073509,0.138701,-0.436764,1.000000,0.103245,-0.050723,-0.018707,-0.101398,0.091799,0.010046,0.022859
minimum_nights,-0.068274,-0.138851,0.017124,-0.121498,0.103245,1.000000,-0.159285,-0.288277,0.063765,0.081264,0.000000,0.020005
number_of_reviews,-0.302146,-0.117507,-0.038288,0.080778,-0.050723,-0.159285,1.000000,0.701699,0.057464,0.237886,0.026979,0.000000
reviews_per_month,0.368858,0.275662,-0.027334,0.117056,-0.018707,-0.288277,0.701699,1.000000,0.144355,0.387509,0.065914,0.017332
calculated_host_listings_count,0.133321,0.144830,0.002377,0.062861,-0.101398,0.063765,0.057464,0.144355,1.000000,0.407154,0.086084,0.095414
availability_365,0.164731,0.172829,-0.009651,0.061113,0.091799,0.081264,0.237886,0.387509,0.407154,1.000000,0.075558,0.088758
neighbourhood_group,0.059137,0.098353,0.538339,0.648797,0.010046,0.000000,0.026979,0.065914,0.086084,0.075558,1.000000,0.124914
room_type,0.070785,0.092035,0.111624,0.153825,0.022859,0.020005,0.000000,0.017332,0.095414,0.088758,0.124914,1.000000

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

#### Basic cleaning

In [4]:
# Drop outliers
min_price = 10
max_price = 350
idx = df['price'].between(min_price, max_price)
df = df[idx].copy()
# Convert last_review to datetime
df['last_review'] = pd.to_datetime(df['last_review'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19001 entries, 0 to 19999
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              19001 non-null  int64
 1   name                            18994 non-null  object
 2   host_id                         19001 non-null  int64
 3   host_name                       18993 non-null  object
 4   neighbourhood_group             19001 non-null  object
 5   neighbourhood                   19001 non-null  object
 6   latitude                        19001 non-null  float64
 7   longitude                       19001 non-null  float64
 8   room_type                       19001 non-null  object
 9   price                           19001 non-null  int64
 10  minimum_nights                  19001 non-null  int64
 11  number_of_reviews               19001 non-null  int64
 12  last_review                     15243 non-null  datetime64[ns]
 13  reviews_per_month               15243 non-null  float64
 14  calculated_host_listings_count  19001 non-null  int64
 15  availability_365                19001 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 2.5+ MB

In [6]:
run.finish()